table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    /* center the table */
    width: 30%;
    /* make the table 80% of the screen width */
    height: 100%;
}

table.tableDP {
    border-collapse: collapse;
    margin-left: -200px;
    margin-right: auto;
    margin-top: 10%;
    /* center the table */
    width: 30%;
    /* make the table 80% of the screen width */
    height: 100%;
}

button {
    font-size: medium;
    padding: "10px 20px";
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
}

td {
    border: 5px solid black;
    padding: 15px;
    /* increase the cell padding */
    text-align: center;
    /* center the cell contents */
    font-size: 50px;
    /* increase the font size */
}

td.final-cost-path {
    background-color: green;
}

td.search-path {
    background-color: yellow;
}

td.current-path {
    background-color: orange;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}