div.container {
    display: flex;
    flex-direction: column;
    margin-right: 15%;
    margin-left: 10%;
}

div.containerTable {
    display: flex;
}

div.buttonAndBox {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 30%;
    height: 100%;
}

button {
    font-size: medium;
    padding: "10px 20px";
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
}

p {
    font-size: medium;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    margin-left: 5px;
    width: 25%;
}

td {
    border: 5px solid black;
    padding: 15px;
    text-align: center;
    font-size: 50px;
}

td.final {
    background-color: green;
}

td.search {
    background-color: yellow;
}

td.current {
    background-color: orange;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}